
.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    color : red;
    
  }

  .marker:hover{
    background: green;
    z-index: 9999;
    transform: scale(2) !important;
  }